<!--h1>Sessions#new</h1-->
<!--p>Find me in app/views/sessions/new.html.erb</p-->

<div class="container">
    <br/>
    <% provide(:title, "Log in") %>
    <h1><%= t('user_relate.login_user') %></h1>

    <div style="color:green">
        <%= flash.now[:success]%>
    </div>

    <div style="color:red">
        <%= flash.now[:error]%>
    </div>

    <div class="row">
    <div class="col-md-6 col-md-offset-3">
        <%= form_for(:session, url: login_path) do |f| %>

        <%= f.label :username, User.human_attribute_name("users.username") %>
        <%= f.text_field :username, class: 'form-control' %>

        <%= f.label :password, User.human_attribute_name("users.password") %>
        <%= f.password_field :password, class: 'form-control' %>
        <br/>

        <%= f.submit t('user_relate.login_user'), class: "btn btn-primary" %>
        <% end %>

        <p> <%= t('user_relate.new_user_question') %> <%= link_to t('user_relate.signup_now'), new_user_path %></p>
    </div>
    </div>
</div>