<% if logged_in? && current_user.admin? %>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
<% else %>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
<% end %>
  <%= link_to t('home_page'), home_task_path, class:"navbar-brand" %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if logged_in? %>
        <li class="nav-item">
          <%= link_to t('task_relate.add_task'), new_task_path, class:"nav-link" %>
        </li>
        
        <% if logged_in? && current_user.admin? %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <%= t('admin_page') %>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <%= link_to t('user_relate.user_list'), admin_users_path, class:"dropdown-item" %>
            </div>
          </li>
        <% end %>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= t('user_relate.user_account') %>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <!--%= link_to t('user_relate.user_task'), show_user_path(session[:user_id]), class:"dropdown-item" %-->
            <%= link_to t('user_relate.user_task'), root_path(session[:user_id]), class:"dropdown-item" %>
            <% if current_user.admin? %>
              <%= link_to t('user_relate.user_setting'), edit_admin_user_path(current_user), class:"dropdown-item" %>
            <% else %>
              <%= link_to t('user_relate.user_setting'), edit_user_path(current_user), class:"dropdown-item" %>
            <% end %>
            <div class="dropdown-divider"></div>
            <%= link_to t('user_relate.logout_user'), logout_path, method: "delete", class:"dropdown-item" %>
          </div>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to t('user_relate.add_user'), new_user_path, class:"nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to t('user_relate.login_user'), login_path, class:"nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>