<!--h1>Task List</h1-->
<div class="container">
  <% if logged_in? %>
    <div class="container-fluid">
      <br/>
      <h1><%= @current_user.username %> <%= raw(t('task_relate.task_list')) %></h1>
      <p><%= user_role(@current_user.admin) %></p>

      <div style="margin-left: auto; margin-right: 0;">
        <%= form_for :query, url: root_path, method: :get do |form| %>
          <div class="field form-group" style="display:inline-block;">
            <%= form.text_field :keyword, placeholder: raw(t('task_relate.enter_keyword')), value: params.dig('query', 'keyword'), class: "form-control" %>
          </div>
          <div class="field form-group" style="display:inline-block;">
            <%= form.select :priority, options_for_select([[Task.human_attribute_name("tasks.priority"), nil], ['Urgent', 0], ['Highest', 1], ['High', 2], ['Normal', 3], ['Low', 4], ['Lowest', 5]]), {}, class: "form-control", selected: params.dig('query', 'status'), id: "task_priority" %>
          </div>
          <div class="field form-group" style="display:inline-block;">
            <%= form.select :status, options_for_select([[Task.human_attribute_name("tasks.status"), nil], ['Pending', 0], ['In progress', 1], ['Complete', 2]]), {}, class: "form-control", selected: params.dig('query', 'status'), id: "task_status" %>
          </div>
          <div class="actions form-group" style="display:inline-block;">
            <%= form.submit raw(t('task_relate.serch_task')), class: "form-control" %>
          </div>
        <% end  %>
      </div>

      <div style="color:green">
          <%= flash[:success]%>
      </div>

      <%= link_to raw(t('task_relate.add_task')), new_task_path %>

      <div class="dropdown clearfix pull-right">
      <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuDivider" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      <%= raw(t('sort.sort_title')) %>
          <span class="caret"></span>
      </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuDivider">
          <li>
            <%= link_to( raw(t('sort.sort_create_time_desc')), root_path(:order => "created_at desc", :user_id => session[:user_id])) %>
          </li>
          <li>
            <%= link_to( raw(t('sort.sort_create_time_asc')), root_path(:order => "created_at asc", :user_id => session[:user_id])) %>
          </li>
          <li>
            <%= link_to( raw(t('sort.sort_priority_desc')), root_path(:order => "priority desc", :user_id => session[:user_id])) %>
          </li>
          <li>
            <%= link_to( raw(t('sort.sort_priority_asc')), root_path(:order => "priority asc", :user_id => session[:user_id])) %>
          </li>
          <li>
            <%= link_to( raw(t('sort.sort_status_desc')), root_path(:order => "status desc", :user_id => session[:user_id])) %>
          </li>
          <li>
            <%= link_to( raw(t('sort.sort_status_asc')), root_path(:order => "status asc", :user_id => session[:user_id])) %>
          </li>
          
          <li>
            <%= link_to( raw(t('sort.sort_start_time_desc')), root_path(:order => "start_time desc", :user_id => session[:user_id])) %>
          </li>
          <li>
            <%= link_to( raw(t('sort.sort_start_time_asc')), root_path(:order => "start_time asc", :user_id => session[:user_id])) %>
          </li>

          <li>
            <%= link_to( raw(t('sort.sort_end_time_desc')), root_path(:order => "end_time desc", :user_id => session[:user_id])) %>
          </li>
          <li>
            <%= link_to( raw(t('sort.sort_end_time_asc')), root_path(:order => "end_time asc", :user_id => session[:user_id])) %>
          </li>

          <li>
            <%= link_to(raw(t('sort.sort_id_desc')), root_path(:order => "id desc", :user_id => session[:user_id]) ) %>
          </li>
          <li>
            <%= link_to(raw(t('sort.sort_id_asc')), root_path(:order => "id asc", :user_id => session[:user_id]) ) %>
          </li>
        </ul>
      </div>
      <%
        $status_list = ["Pending", "In Progress", "Complete"]
        $priority_list = ["Urgent", "Highest", "High", "Normal", "Low", "Lowest"]
      %>
      <div class="table-responsive">
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th> <%= Task.human_attribute_name("tasks.user_id") %> </th>
              <th> <%= Task.human_attribute_name("tasks.task_name") %> </th>
              <th> <%= Task.human_attribute_name("tasks.content") %> </th>
              <th> <%= Task.human_attribute_name("tasks.start_time") %> </th>
              <th> <%= Task.human_attribute_name("tasks.end_time") %> </th>
              <th> <%= Task.human_attribute_name("tasks.priority") %> </th>
              <th> <%= Task.human_attribute_name("tasks.status") %> </th>
              <th> <%= Task.human_attribute_name("tasks.create_time") %> </th>
              <th> <%= Task.human_attribute_name("tasks.handle") %> </th>
            </tr>
          </thead>
          <tbody>
            <% @tasks.each do |task| %>
            <tr>
              <td><%= task.user_id %></td>
              <td><%= task.task_name %></td>
              <td><%= task.content %></td>
              <td><%= task.start_time %></td>
              <td><%= task.end_time %></td>
              <td><%= $priority_list[task.priority] %></td>
              <td><%= $status_list[task.status] %></td>
              <td><%= task.created_at %></td>
              <td>
                <%= link_to raw(t('task_relate.edit_task')), edit_task_path(task) %>
                <%= link_to raw(t('task_relate.delete_task')), edit_task_path(task), method: "delete", data: { confirm: "Comfirm to delete it" } %>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
        <div sytle="margin: auto;">
          <%= paginate @tasks %>
        </div>
      </div>
    </div>
  <% else %>
    <h1>Please Log In First.</h1>
  <% end %>
</div>