<!--h1>Task List</h1-->
<h1><%= raw(t('task_relate.task_list')) %></h1>

<div style="color:green">
    <%= flash[:success]%>
</div>

<%= link_to raw(t('task_relate.add_task')), new_task_path %>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th> <%= raw(t('activerecord.attributes.tasks.user_id')) %> </th>
      <th> <%= raw(t('activerecord.attributes.tasks.task_name')) %> </th>
      <th> <%= raw(t('activerecord.attributes.tasks.content')) %> </th>
      <th> <%= raw(t('activerecord.attributes.tasks.start_time')) %> </th>
      <th> <%= raw(t('activerecord.attributes.tasks.end_time')) %> </th>
      <th> <%= raw(t('activerecord.attributes.tasks.priority')) %> </th>
      <th> <%= raw(t('activerecord.attributes.tasks.status')) %> </th>
      <td> <%= raw(t('activerecord.attributes.tasks.handle')) %> </td>
    </tr>
  </thead>
  <tbody>
    <% @tasks.each do |task| %>
    <tr>
      <td><%= task.user_id%></td>
      <td><%= task.task_name %></td>
      <td><%= task.content %></td>
      <td><%= task.start_time %></td>
      <td><%= task.end_time %></td>
      <td><%= task.priority %></td>
      <td><%= task.status %></td>
      <td>
        <%= link_to raw(t('task_relate.edit_task')), edit_task_path(task) %>
        <%= link_to raw(t('task_relate.delete_task')), edit_task_path(task), method: "delete", data: { confirm: "Comfirm to delete it" } %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

