<%= form_for(user, locals) do |f| %>
  <% if locals[:html][:class] == "edit_admin_user" %>
    <% locals_for_translate = "edit_user"%>
  <% elsif locals[:html][:class] == "new_admin_user" %>
    <% locals_for_translate = "add_user"%>
  <% end %>
  <div class="form-group">
    <%= f.label :usesrname, Admin::User.human_attribute_name("users.username") %>
    <%= f.text_field :username, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :email, Admin::User.human_attribute_name("users.email") %>
    <%= f.text_field :email, class: "form-control" %>
  </div>

  <% if locals[:html][:class] == "edit_admin_user" %>
    <% if @user.id == current_user.id %>
      <div class="form-group">
        <%= f.label :password, raw(t('user_relate.new_password')) %>
        <%= f.password_field :password, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :password_confirmation, raw(t('user_relate.new_password_comfirmation')) %>
        <%= f.password_field :password_confirmation, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :current_password, raw(t('user_relate.current_password')) %>
        <%= f.password_field :current_password, class: "form-control" %>
      </div>
    <% elsif current_user.admin %>
      <div class="form-group">
        <%= f.label :current_password, raw(t('user_relate.role_admin_password')) %>
        <%= f.password_field :current_password, class: "form-control" %>
      </div>
    <% end %>
  <% else %>
    <div class="form-group">
      <%= f.label :password, Admin::User.human_attribute_name("users.password") %>
      <%= f.password_field :password, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :password_confirmation, raw(t('user_relate.password_comfirmation')) %>
      <%= f.password_field :password_confirmation, class: "form-control" %>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.submit raw(t('user_relate.' + locals_for_translate)), class: "btn btn-primary form-control" %>
  </div>
<% end %>

<% if @user.errors.any? %>
  <ul style="color:red">
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>
