<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    
    <title>RubyTaskProject</title>
    
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <%= render 'tasks/header'%>
    <div class="container">
      <br />
      <%= yield %>
    </div>
    <br /><br />
    
    <%= link_to "中文版", :controller => controller_name, :action => action_name, :locale => "zh-TW" %>
    <%= link_to "English", :controller => controller_name, :action => action_name, :locale => "en" %>

  </body>
</html>